.container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  display: flex; justify-content: center; align-items: center; color: white;
}

.center-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Take full viewport height */
  }
  
  .center-card {
    width: 50%;  /* Set the width of the card */
  }

  body, html {
    height: 100%;
    margin: 0;
  }

  @media screen and (max-width: 480px) {
  }
  
  @media screen and (max-width: 768px) {

    .container {
      flex-direction: column;
      gap: 10px;
    }
  }