<div class="container">
    <h1>Projects</h1>
  </div>
  <div style="margin-left: 20%;">
  <mat-accordion>
      <mat-expansion-panel class="mat-width">
        <mat-expansion-panel-header class="panel">
          <mat-panel-title>Bed & Breakfast: Multi-cloud Serverless web application</mat-panel-title>
          <!-- <mat-panel-description>Sep 12, 2022 - Mar 31, 2025</mat-panel-description> -->
        </mat-expansion-panel-header>
        <li>Integrated multiple cloud services from AWS and GCP to build Food, Tour and Hotel services as part of the serverless application.</li>
<li>Implemented full backend code functionality using only Serverless services like AWS Lambda and Google Cloud Functions.</li>
<li>Developed key modules like Authentication, Machine Learning, Online Assistant, Message parsing and Data visualization.</li>
      </mat-expansion-panel>
      <mat-expansion-panel class="mat-width">
        <mat-expansion-panel-header class="panel">
          <mat-panel-title>Document Manager: Cloud Storage Drive</mat-panel-title>
          <!-- <mat-panel-description>Sep 12, 2022 - Mar 31, 2025</mat-panel-description> -->
        </mat-expansion-panel-header>
        <li>Developed a Cloud storage web application using AWS services like Elastic Beanstalk, DynamoDb, S3, Lambda, SES, VPC</li>
<li>Implemented AWS CloudFormation to automate application infrastructure provisioning.</li>
<li>Developed a URL shortener microservice to shorten file URLs for easier sharing.</li>
      </mat-expansion-panel>
      <mat-expansion-panel class="mat-width">
        <mat-expansion-panel-header class="panel">
          <mat-panel-title>Cozmos: An eCommerce Shopping Platform</mat-panel-title>
          <!-- <mat-panel-description>Sep 12, 2022 - Mar 31, 2025</mat-panel-description> -->
        </mat-expansion-panel-header>
        <li>Using NodeJS and Express, developed the backend RESTFul APIs for various features like product catalog, cart, wishlist, and purchase.</li>
<li>Implemented front-end User Interface and Experience using ReactJS, JSX and CSS3.</li>
<li>Built comprehensive MySQL database design and integrated it for full-stack application development.</li>
      </mat-expansion-panel>
      <mat-expansion-panel class="mat-width">
        <mat-expansion-panel-header class="panel">
          <mat-panel-title>Stock Price Analysis & Prediction</mat-panel-title>
          <!-- <mat-panel-description>Sep 12, 2022 - Mar 31, 2025</mat-panel-description> -->
        </mat-expansion-panel-header>
        <li>Developed Supervised Machine Learning models to predict stock prices.</li>
<li>Following the CRISP-DM process, Linear Regression and LSTM Neural Network were successfully implemented.</li>
<li>Generated insights into the stock price comparison between before and after COVID-19.</li>
      </mat-expansion-panel>
      <mat-expansion-panel class="mat-width">
        <mat-expansion-panel-header class="panel">
          <mat-panel-title>CentDb - Centralized Database Management System</mat-panel-title>
          <!-- <mat-panel-description>Sep 12, 2022 - Mar 31, 2025</mat-panel-description> -->
        </mat-expansion-panel-header>
        <li>Developed a custom file formatted and console interface database management system using JAVA.</li>
<li>DBMS application allows users to execute standard SQL DDL, DML, DQL and DCL operations.</li>
<li>Integrated the Database Analytics and Data Modelling utilities to the application.</li>
      </mat-expansion-panel>
    <mat-expansion-panel class="mat-width">
        <mat-expansion-panel-header class="panel">
          <mat-panel-title>Task Manager</mat-panel-title>
          <!-- <mat-panel-description>Sep 12, 2022 - Mar 31, 2025</mat-panel-description> -->
        </mat-expansion-panel-header>
        <li>Developed Spring Boot JAVA application & CI/CD Git pipeline for a JIRA-like prototype-Task Management System.</li>
<li>Incorporated features like user login/registration module, creating teams, projects, tasks, and assigning/updating/deleting tasks.</li>
<li>Ensured adherence to Clean Code practices, Test-Driven Development (TDD), SOLID principles, and design patterns.</li>
      </mat-expansion-panel>
    <mat-expansion-panel class="mat-width">
        <mat-expansion-panel-header>
          <mat-panel-title>Online Password Checker</mat-panel-title>
          <!-- <mat-panel-description>Sep 12, 2022 - Mar 31, 2025</mat-panel-description> -->
        </mat-expansion-panel-header><li>Developed a Python web app to assess password security by checking past compromises.</li>
        <li>Implemented REST APIs using Flask and secured user inputs with SHA1 encryption for test case validation.</li>
        <a href="https://rahultulani.pythonanywhere.com/">Application Link</a>
      </mat-expansion-panel>
    </mat-accordion>
  </div>