<div class="container">
  <h1>Work experience</h1>
</div>
<div style="margin-left: 20%;">
<mat-accordion>
    <mat-expansion-panel class="mat-width">
      <mat-expansion-panel-header class="panel">
        <mat-panel-title>Canada Revenue Agency - IT Analyst/Developer </mat-panel-title>
        <mat-panel-description>Sep 12, 2022 - Mar 31, 2025</mat-panel-description>
      </mat-expansion-panel-header>
      <li>Developed backend JAX-RS RESTful APIs within Java EE, integrating with an Angular frontend to enhance CRA Taxpayer portal features.</li>
<li>Implemented secure and efficient Java EE backend APIs for optimized business logic processing and seamless client interactions.</li>
<li>Built dynamic Single Page Application (SPA) Angular UI by structuring features into modules, components, and routing layers.</li>
<li>Acted as the lead developer to design the architecture and JIRA stories/tasks of public-facing web services serving 28M+ Canadians.</li>
<li>Spearheaded the development of core APIs for web service redirection between Struts and Angular, enabling seamless integration.</li>
<li>Refactored existing Angular and Java code into reusable modules, reducing complexity by 60% and improving maintainability.</li>
<li>Developed UI automation test cases using Playwright, ensuring alignment with business requirements and an end-user perspective.</li>
<li>Providing technical assistance to developers in designing solutions, code walkthroughs, and local development environment setup.</li>
<li>Coordinated and led the production sign-on process for multiple web services during routine release deployments.</li>
<li>Identified and resolved critical software bugs during emergency fixes, increasing system reliability and uptime.</li>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-width">
        <mat-expansion-panel-header class="panel">
          <mat-panel-title>Modis (now known as Akkodis) - Software Engineer</mat-panel-title>
          <mat-panel-description>Jan 24, 2022 - Aug 31, 2022</mat-panel-description>
        </mat-expansion-panel-header>
        <li>Developed and maintained Java-based data transformation scripts in IntelliJ IDE for seamless cloud data migration.</li>
<li>Implemented efficient data models and mappings using K2V Fabric and Kafka, optimizing data processing and integration workflows.</li>
<li>Integrating Oracle database connection into Java for extraction, transformation, and loading processes.</li>
<li>Debugging and resolving local testing issues and real-time production bugs, ensuring smooth system functionality.</li>
      </mat-expansion-panel>
      <mat-expansion-panel class="mat-width">
        <mat-expansion-panel-header class="panel">
          <mat-panel-title>CSG Systems International, Inc. - Development Consultant</mat-panel-title>
          <mat-panel-description>Oct 27, 2020 - Sep 30, 2021</mat-panel-description>
        </mat-expansion-panel-header>
        <li>Implemented PL/SQL ETL data pipelines to transform and migrate data of 50K+ subscribers to the Singleview billing system.</li>
<li>Optimized code execution for monthly production runs, cutting commercial migration time by 30%.</li>
<li>Carried out the Requirement Analysis to implement the architectural design and code for new SV product features.</li>
<li>Developed the code for various product applications using programming languages - Core Java, Perl</li>
<li>Executed Functional and Unit Testing therefore supporting testing teams during the User Acceptance Testing phase.</li>
      </mat-expansion-panel>
      <mat-expansion-panel class="mat-width">
        <mat-expansion-panel-header class="panel">
          <mat-panel-title>Amdocs - Software Developer</mat-panel-title>
          <mat-panel-description>June 25, 2018 - Oct 19, 2020</mat-panel-description>
        </mat-expansion-panel-header>
        <li>Led the end-to-end Extraction, Transformation, and Loading (ETL) development of billing analysis software for Telecom clients.</li>
<li>Automated data migration reconciliation between legacy and Amdocs billing systems, achieving KPI targets of over 95%.</li>
<li>Optimized Oracle Database performance tuning, ensuring timely deployment of large datasets of 2M+ enterprise subscribers.</li>
<li>Performed manual analysis and developed automatic analysis solutions using Python to reconcile Legacy and Amdocs’ billing systems.</li>
<li>Designed an integrated Oracle SQL & Python solution to automate the complex Singlebill accounts’ charges comparison solutions</li>
<li>Enhanced code efficiency by automating bug detail parsing into Data Warehousing tools, reducing deployment runtime by 50%.</li>
<li>Developed UNIX Shell scripts to devise splitting, mixing and sorting algorithms increasing the throughput of billing execution by 4x.</li>
<li>Collaborated with global teams across key hubs—Australia, Israel, India, Ireland, and Brazil—to achieve project deliverables.</li>
      </mat-expansion-panel>
  </mat-accordion>
</div>