<mat-toolbar class="toolbar">
  <span class="spacer"></span>
  <button mat-icon-button class="menu-button" (click)="toggleMenu()">
    <mat-icon style="color: white;">menu</mat-icon>
  </button>
</mat-toolbar>
  <div class="nav-links" [ngClass]="{'active': isMenuOpen}">
    <button mat-button routerLink="/" routerLinkActive="active" class="button align-button" style="color: white;" (click)="toggleMenu()">Home</button>
    <button mat-button routerLink="/about" routerLinkActive="active" class="button align-button" style="color: white;" (click)="toggleMenu()">About</button>
    <button mat-button routerLink="/work" routerLinkActive="active" class="button align-button" style="color: white;" (click)="toggleMenu()">Work</button>
    <button mat-button routerLink="/projects" routerLinkActive="active" class="button align-button" style="color: white;" (click)="toggleMenu()">Projects</button>
    <button mat-button routerLink="/resume" routerLinkActive="active" class="button align-button" style="color: white;" (click)="toggleMenu()">Resume</button>
    <button mat-button routerLink="/contact" routerLinkActive="active" class="button align-button" style="color: white;" (click)="toggleMenu()">Contact</button>
  </div>


<div class="social-icons">
  <a href="https://www.linkedin.com/in/rahul-tulani-6271a8126/" target="_blank">
    <img src="img/linkedin.png" alt="LinkedIn">
  </a>
  <a href="https://github.com/rahultulani" target="_blank">
    <img src="img/github.png" alt="GitHub">
  </a>
  <a href="https://leetcode.com/u/rahul_tulani/" target="_blank">
    <img src="img/leetcode.png" alt="Leetcode">
  </a>
</div>

<router-outlet></router-outlet>
