// /* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body {
    width: 100%;
    height:100%;
    background-size: 100%;
    @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$orange-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0
  ));
  }
  
html, body, button {
      margin: 0; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      position: relative;
      background-color: black;
  }

  
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../public/img/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transform: translateY(100%);
    opacity: 1;
    animation: floatIn 1.5s ease-out forwards;
    z-index: 0;
}

h1, h2#demo, .container, .skill, .progress-container, .progress-label, .nav-links.active {
    position: relative;
    z-index: 1;
}

  @keyframes floatIn {
    from {
        transform: translateY(100%);
        opacity: 1;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
}

